.App {
  /* margin: ; */
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-content: center;
  background: antiquewhite;
  height: auto;
  padding: 10px 10px;
}

button {
  background-color: lightblue;
}

#newQButton {
  background-color: lightgray;
  color: dimgray;
  width: 100px;
  height: 50px;
  margin: 0 20px;
  font-size: 1rem;
}

.letterButton {
  margin-top: 2%;
  background-color: blueviolet;
  color: white;
  height: auto;
  width: 5%;
  text-align: center;
}

.letterButton:disabled {
  background-color: gray;
}

.letterWrapper {
  margin-left: 10%;
  margin-right: 10%
}

#answerViewer {
  text-align: center;
}

/* body {
  background-color: black;
} */

h1 {
  text-align: center;
}

.clue {
  display: grid;
  grid-template: auto / 1fr auto;
  text-align: center;
  align-items: center;
  background-color: skyblue;
  padding: 15px;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hangviewer {
  display: table;
  text-align: center;
  background-color: burlywood;
  border: 5px solid #dac292;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.letterButtons {
  display: table;
  text-align: center;
}

.letterButton:hover {
  box-shadow: 5px 5px 5px darkgray;
}
